html {
  font-family: "Courier New", Courier, "Verdana";
  image-rendering: -webkit-optimize-contrast !important;
  scroll-behavior: smooth;
  font-weight: 500;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: rgb(243, 248, 255);
  margin: 0;
}

.navbar {
  background: rgb(243, 248, 255);
  max-width: 100%;
  height: 60px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.navbar .logo {
  margin-left: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #333;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.navbar .links {
  color: #333;
  cursor: pointer;
  font-size: 17px;
  margin-left: auto;
  margin-right: 100px;
}

.navbar .github-icon {
  cursor: pointer;
  font-size: 24px;
  margin-right: 80px;
  padding-top: 12px;
}

.navbar .logo,
.navbar .links,
.navbar .github-icon {
  transition: transform 0.3s ease;
}

.navbar .logo:hover,
.navbar .github-icon:hover {
  transform: translateY(-2px);
}

.navbar .links:hover {
  transform: translateY(-2px);
  color: #007aff;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  flex: 1;
  position: relative;
  z-index: 1;
  padding-top: 100px;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  color: rgb(29, 28, 28);
  padding: 10px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  border: 1px solid #b7b2b2;
  background-color: rgb(215, 233, 250);
}

.table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #b7b2b2;
}

.resource-page {
  height: 100vh;
  position: relative;
  z-index: 1;
  padding-top: 100px;
  margin-left: 40px;
}

.resource-page a {
  text-decoration: none;
  color: red;
}

.footer {
  background: rgb(243, 248, 255);
  max-width: 100%;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 1px;
  width: 100%;
  bottom: 0;
}

button {
  margin: 2px;
  padding: auto;
}

input {
  width: 60px;
  padding: 1px;
  margin-right: 2px;
}

.pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: auto;
  margin-bottom: 100px;
}
